* {
    font-family: 'Anuphan', sans-serif;
}

header > h1 {
    text-align: center;
    text-decoration: underline;
}

header > h2 {
    text-align: center;
}

a[href^="#"] {
    color: hsl(43,89%,38%);
}

ul li {
    list-style-type: disc;
}

div.box1 {
    background-color: blanchedalmond;

    height: 90vh;
    width: fit-content;

    border-style: dashed;
    border-color: dimgray;
    border-width: 2px;
    border-radius: 1%;

    margin-top: 50px;
    margin-left: 1cm;
    margin-right: 1cm;

    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;

    position: static;

    text-align: justify;
}

h4 ~ p {
    color: brown;
}

.box2 {
    background-color: lightcyan;
    border: 2px dotted dimgray;

    margin: 2cm 1cm 2cm 1cm;

    max-height: fit-content;
    max-width: fit-content;

    padding: 1mm 5mm 1mm 5mm;

    position: static;

    text-align: justify;
}

.emphasize {
    color: rgb(0,128,0);
    font-size: 1em;
}

span {
    color: rgb(128,0,0);
    font-size: 1.25em;
    text-decoration: underline;
}

button:hover {
    color: darkgray;
}

button:active {
    border: 3px solid #000000;
}

.container {
    height: fit-content;
    width: fit-content;
}

h3 + div {
    height: 300px;
    width: 500px;
}

img, #video {
    height: 100%;
    width: 100%;

    position: relative;
}

@media screen {
    video:hover {
        border: 1em solid #000000;
    }
}