html {
    font-family: 'Anuphan', sans-serif;
}

.box1 {
    background-color: blanchedalmond;

    border-style: dashed;
    border-color: dimgray;
    border-width: 2px;
    border-radius: 1%;

    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;

    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;

    text-align: justify;
}

.box2 {
    background-color: lightcyan;
    border: 2px dotted dimgray;

    margin: 50px 30px 50px 30px;

    padding: 5px 30px 5px 30px;

    text-align: justify;
}

.emphasize {
    color: green;
}

span {
    color: red;
    text-decoration: underline;
}

button:hover {
    color: darkgray;
}

button:active {
    border: 3px solid black;
}

@media screen {
    video:hover {
        border: 5px solid black;
    }
}